@using Dlw.EpiBase.Content.Infrastructure.Web
@using Netafim.WebPlatform.Web.Core.Extensions
@model Netafim.WebPlatform.Web.Features.FormContainerBlock.GeneralFormContainerBlock

@using (Html.BeginComponent("Netafim.Web.FormContainerBlock"))
{
    <section class="component boxed-mode @Html.RenderBackgroundColor(m=>m)" @Html.RenderAnchor(m => m)>
        @Html.RenderWatermark(m => m)
        @Html.RenderFloatingNavigationText(m => m)
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-9">
                    <div class="component-inner">
                        @if (!string.IsNullOrWhiteSpace(Model.Title))
                        {
                            <h2>@Html.PropertyFor(m => m.Title)</h2>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Description))
                        {
                            <p>
                                @Html.PropertyFor(m => m.Description)
                            </p>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.MandatoryInformation))
                        {
                            <p><strong>@Html.PropertyFor(m => m.MandatoryInformation)</strong>
                            </p>
                        }
                    </div>
                </div>
            </div>
            @if (Model.FormContainer != null)
            {
                <div class="row">
                    <div class="col-md-9">
                        <div class="netafim-form" context-aware>
                            @Html.RenderHiddenContainerIdentity(Model)
                            @Html.PropertyFor(m => m.FormContainer)
                        </div>
                    </div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.PrivacyStatement))
            {
                <div class="row">
                    <div class="col-md-9">
                        <div class="extra-information">
                            <p>@Html.PropertyFor(m => m.PrivacyStatement)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}