@using EPiServer.Core
@using Netafim.WebPlatform.Web.Core.Extensions
@using Netafim.WebPlatform.Web.Features.SuccessStoryOverview
@model Netafim.WebPlatform.Web.Features.SuccessStoryOverview.ViewModels.SuccessStoryListingViewModel

@foreach (var item in Model.Result)
{
    var hasVideoCss = item.Video != null ? "has-video-icon" : "";
    var country = !string.IsNullOrEmpty(item.Country) ? item.Country.ToCountryName() : string.Empty;
    var crop = item.CropId.GetCropNameByCropId(Model.CropPages);
    var hasComma = !string.IsNullOrEmpty(country) && !string.IsNullOrEmpty(crop) ? ", " : string.Empty;
    var subTitle = string.Format("{0}{1}{2}", country, hasComma, crop);

    <a class="raise-up story-grid-item" href="@Url.ContentUrl(((IContent) item).ContentLink)">
        <div class="image-container @hasVideoCss">
            <img alt="@(item.Title)" src="@Url.CropImageUrl(item.Image, 620, 370)" />
        </div>
        @if (!string.IsNullOrEmpty(item.Title))
        {
            <p>@item.Title</p>
        }
        <span>@subTitle</span>
    </a>
}