@using EPiServer.Core
@using Netafim.WebPlatform.Web.Core.Extensions
@model Netafim.WebPlatform.Web.Features.GenericOverview.GenericOverviewItemWithIconBlock

<div class="link-box-item">
    @if (Model.Icon != null)
    {
        <img class="link-box-icon" alt="@Model.Title" src="@Url.ImageUrl(Model, m => Model.Icon)" @Html.EditAttributes(m => m.Icon)>
    }

    @if (!ContentReference.IsNullOrEmpty(Model.Link))
    {
        <a class="link-box-href" href="@Url.ContentUrl(Model.Link)">@Html.PropertyFor(m => m.Title)</a>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <a href="@Url.ContentUrl(Model.Link)" class="link-box-desc">
            <img alt="" src="@Url.ImageUrl(Model, m => Model.Icon)" style="max-width:30px">
            <h5>@Html.PropertyFor(m => m.Title)</h5>
            <p>@Html.PropertyFor(m => m.Description)</p>
        </a>
    }
</div>